body {
    margin: 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: var(--green);
}

.nav-list {
    list-style-type: none;
}

.list-item {
    float: left;
    display: inline;
    padding: 30px;
    margin: 0 auto;
    background-color: var(--green);
}

.nav-link {
    color: var(--white);
}

.list-item:hover {
    background-color: var(--orange);
}

.list-item:hover a.nav-link {
    color: var(--black);
}

a.nav-link {
    text-decoration-line: none;
}

.headshot {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

p::first-line {
    font-weight: bold;
}
